
/*reglas generales*/
header{
    background-color: rgb(100,100,0);
    color: rgb(100,100,100);
    font-family: Verdana, Helvetica, sans-serif;
    margin: auto;
    margin-top: 3px;
    width:  60%;
    height: 350px;
}

h2{
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(200,200,200);
    font-weight: bold;
    margin-left: 135px;
}

h1{
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(200,200,200);
    margin-top: 100px;
    margin-left: 400px;
}

label{
    margin-left: 40px;
}

body{
    background-color: #183659;
    font-family: Verdana, Helvetica, sans-serif;
    
}

section{
    font-weight: medium;
    background-color: #E9AE3C;
    font-family: Verdana, Helvetica, sans-serif;
    color: #183659;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-top: 3px;
    display: inline-block;
}
aside{
    background-color: #E9AE3C	;
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(100,100,100);
    width: 19.5%;
    height: 400px;
    margin-left: 3px;
    margin-top: 0px;
    display: inline-block;
}
footer{
    background-color: rgb(50,50,50);
    color: rgb(150,150,150);
    height: 50px;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    margin-top: 3px;
    text-align: center;
}
canvas{
    border: 2px solid black;
    background-color: #FFF;
}

/*Estilos globales*/
nav ul{
    list-style: none;
    padding: 0px;
}

nav li{
	line-height: 2.5em;
	position: relative ;
	
}

nav li ul{
	position:absolute;
	display: none;
}

nav a{
     text-decoration:  none;
     color: rgb(28,61,108);
     display: block;
     padding: 0 6.48281216599999em;
     transition: 0.8s;
     
     
     
}

nav a:hover{
	background-color: rgba(28,61,108,0.75);
}


nav a:hover>ul{
	background-color: rgba(28,61,108,0.75);
}


nav li:hover>ul{
	display: block;
		
}

/*Estilos primer nivel*/

nav > ul {
	background-color: rgb(233,174,60);
	display: table;
	
	width: 80%;
	margin-left: 10%;
}

nav > ul > li {
	float: left;
}



/*Segundo nivel*/

nav li li {
	background:#222;
	width:130%;
}

nav>ul>li>ul{
	top:100%;
}

/*Estilos tercer nivel*/


nav ul ul ul {
    left: 100%;
    top:0;
}